DATABASE_URL=jdbc:postgresql://db.yrhrduccaqamixkvllwh.supabase.co:5432/postgres?user=postgres&password=4P3RAaGJVrnPzLH
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=4P3RAaGJVrnPzLH

TWELVEDATA_API_KEY=5dd0a307fb8042379ccb3941791384eb

MARKETDATA_API_DAILY_CALL_LIMIT=800
MARKETDATA_API_TIMEZONE=America/Toronto
MARKETDATA_REFRESH_DELAY_MS=120000
MARKETDATA_REFRESH_INITIAL_DELAY_MS=10000
PORT=8080
